hsostaric_projekt/hsostaric_aplikacija_3_web/hsostaric_aplikacija_3_web/src/wsdl/localhost_8084/Projekt/Projekt.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.hsostaric.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.hsostaric.nwtis.foi.org/" name="Projekt">
<types>
<xsd:schema>
<xsd:import namespace="http://server.hsostaric.nwtis.foi.org/" schemaLocation="http://localhost:8084/Projekt/Projekt?xsd=1"/>
</xsd:schema>
</types>
<message name="autentificirajKorisnika">
<part name="parameters" element="tns:autentificirajKorisnika"/>
</message>
<message name="autentificirajKorisnikaResponse">
<part name="parameters" element="tns:autentificirajKorisnikaResponse"/>
</message>
<message name="dohvatiVlastiteAerodrome">
<part name="parameters" element="tns:dohvatiVlastiteAerodrome"/>
</message>
<message name="dohvatiVlastiteAerodromeResponse">
<part name="parameters" element="tns:dohvatiVlastiteAerodromeResponse"/>
</message>
<message name="UnknownHostException">
<part name="fault" element="tns:UnknownHostException"/>
</message>
<message name="dohvatiAerodromeIzDrzave">
<part name="parameters" element="tns:dohvatiAerodromeIzDrzave"/>
</message>
<message name="dohvatiAerodromeIzDrzaveResponse">
<part name="parameters" element="tns:dohvatiAerodromeIzDrzaveResponse"/>
</message>
<message name="dohvatiAerodromePoImenu">
<part name="parameters" element="tns:dohvatiAerodromePoImenu"/>
</message>
<message name="dohvatiAerodromePoImenuResponse">
<part name="parameters" element="tns:dohvatiAerodromePoImenuResponse"/>
</message>
<message name="izracunajUdaljenostAerodroma">
<part name="parameters" element="tns:izracunajUdaljenostAerodroma"/>
</message>
<message name="izracunajUdaljenostAerodromaResponse">
<part name="parameters" element="tns:izracunajUdaljenostAerodromaResponse"/>
</message>
<message name="vratiVlastiteAerodromeURasponu">
<part name="parameters" element="tns:vratiVlastiteAerodromeURasponu"/>
</message>
<message name="vratiVlastiteAerodromeURasponuResponse">
<part name="parameters" element="tns:vratiVlastiteAerodromeURasponuResponse"/>
</message>
<message name="dohvatiPopisSvihLetovaAerodroma">
<part name="parameters" element="tns:dohvatiPopisSvihLetovaAerodroma"/>
</message>
<message name="dohvatiPopisSvihLetovaAerodromaResponse">
<part name="parameters" element="tns:dohvatiPopisSvihLetovaAerodromaResponse"/>
</message>
<message name="dohvatiSveLetoveAviona">
<part name="parameters" element="tns:dohvatiSveLetoveAviona"/>
</message>
<message name="dohvatiSveLetoveAvionaResponse">
<part name="parameters" element="tns:dohvatiSveLetoveAvionaResponse"/>
</message>
<portType name="Projekt">
<operation name="autentificirajKorisnika">
<input wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/autentificirajKorisnikaRequest" message="tns:autentificirajKorisnika"/>
<output wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/autentificirajKorisnikaResponse" message="tns:autentificirajKorisnikaResponse"/>
</operation>
<operation name="dohvatiVlastiteAerodrome">
<input wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiVlastiteAerodromeRequest" message="tns:dohvatiVlastiteAerodrome"/>
<output wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiVlastiteAerodromeResponse" message="tns:dohvatiVlastiteAerodromeResponse"/>
<fault message="tns:UnknownHostException" name="UnknownHostException" wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiVlastiteAerodrome/Fault/UnknownHostException"/>
</operation>
<operation name="dohvatiAerodromeIzDrzave">
<input wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiAerodromeIzDrzaveRequest" message="tns:dohvatiAerodromeIzDrzave"/>
<output wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiAerodromeIzDrzaveResponse" message="tns:dohvatiAerodromeIzDrzaveResponse"/>
<fault message="tns:UnknownHostException" name="UnknownHostException" wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiAerodromeIzDrzave/Fault/UnknownHostException"/>
</operation>
<operation name="dohvatiAerodromePoImenu">
<input wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiAerodromePoImenuRequest" message="tns:dohvatiAerodromePoImenu"/>
<output wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiAerodromePoImenuResponse" message="tns:dohvatiAerodromePoImenuResponse"/>
<fault message="tns:UnknownHostException" name="UnknownHostException" wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiAerodromePoImenu/Fault/UnknownHostException"/>
</operation>
<operation name="izracunajUdaljenostAerodroma">
<input wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/izracunajUdaljenostAerodromaRequest" message="tns:izracunajUdaljenostAerodroma"/>
<output wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/izracunajUdaljenostAerodromaResponse" message="tns:izracunajUdaljenostAerodromaResponse"/>
<fault message="tns:UnknownHostException" name="UnknownHostException" wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/izracunajUdaljenostAerodroma/Fault/UnknownHostException"/>
</operation>
<operation name="vratiVlastiteAerodromeURasponu">
<input wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/vratiVlastiteAerodromeURasponuRequest" message="tns:vratiVlastiteAerodromeURasponu"/>
<output wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/vratiVlastiteAerodromeURasponuResponse" message="tns:vratiVlastiteAerodromeURasponuResponse"/>
<fault message="tns:UnknownHostException" name="UnknownHostException" wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/vratiVlastiteAerodromeURasponu/Fault/UnknownHostException"/>
</operation>
<operation name="dohvatiPopisSvihLetovaAerodroma">
<input wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiPopisSvihLetovaAerodromaRequest" message="tns:dohvatiPopisSvihLetovaAerodroma"/>
<output wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiPopisSvihLetovaAerodromaResponse" message="tns:dohvatiPopisSvihLetovaAerodromaResponse"/>
<fault message="tns:UnknownHostException" name="UnknownHostException" wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiPopisSvihLetovaAerodroma/Fault/UnknownHostException"/>
</operation>
<operation name="dohvatiSveLetoveAviona">
<input wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiSveLetoveAvionaRequest" message="tns:dohvatiSveLetoveAviona"/>
<output wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiSveLetoveAvionaResponse" message="tns:dohvatiSveLetoveAvionaResponse"/>
<fault message="tns:UnknownHostException" name="UnknownHostException" wsam:Action="http://server.hsostaric.nwtis.foi.org/Projekt/dohvatiSveLetoveAviona/Fault/UnknownHostException"/>
</operation>
</portType>
<binding name="ProjektPortBinding" type="tns:Projekt">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="autentificirajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiVlastiteAerodrome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownHostException">
<soap:fault name="UnknownHostException" use="literal"/>
</fault>
</operation>
<operation name="dohvatiAerodromeIzDrzave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownHostException">
<soap:fault name="UnknownHostException" use="literal"/>
</fault>
</operation>
<operation name="dohvatiAerodromePoImenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownHostException">
<soap:fault name="UnknownHostException" use="literal"/>
</fault>
</operation>
<operation name="izracunajUdaljenostAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownHostException">
<soap:fault name="UnknownHostException" use="literal"/>
</fault>
</operation>
<operation name="vratiVlastiteAerodromeURasponu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownHostException">
<soap:fault name="UnknownHostException" use="literal"/>
</fault>
</operation>
<operation name="dohvatiPopisSvihLetovaAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownHostException">
<soap:fault name="UnknownHostException" use="literal"/>
</fault>
</operation>
<operation name="dohvatiSveLetoveAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownHostException">
<soap:fault name="UnknownHostException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Projekt">
<port name="ProjektPort" binding="tns:ProjektPortBinding">
<soap:address location="http://localhost:8084/Projekt/Projekt"/>
</port>
</service>
</definitions>