hsostaric_projekt/hsostaric_aplikacija_3_web/hsostaric_aplikacija_3_web/src/wsdl/localhost_8084/Projekt/Projekt.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://server.hsostaric.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.hsostaric.nwtis.foi.org/">

<xs:element name="UnknownHostException" type="tns:UnknownHostException"/>

<xs:element name="autentificirajKorisnika" type="tns:autentificirajKorisnika"/>

<xs:element name="autentificirajKorisnikaResponse" type="tns:autentificirajKorisnikaResponse"/>

<xs:element name="dohvatiAerodromeIzDrzave" type="tns:dohvatiAerodromeIzDrzave"/>

<xs:element name="dohvatiAerodromeIzDrzaveResponse" type="tns:dohvatiAerodromeIzDrzaveResponse"/>

<xs:element name="dohvatiAerodromePoImenu" type="tns:dohvatiAerodromePoImenu"/>

<xs:element name="dohvatiAerodromePoImenuResponse" type="tns:dohvatiAerodromePoImenuResponse"/>

<xs:element name="dohvatiPopisSvihLetovaAerodroma" type="tns:dohvatiPopisSvihLetovaAerodroma"/>

<xs:element name="dohvatiPopisSvihLetovaAerodromaResponse" type="tns:dohvatiPopisSvihLetovaAerodromaResponse"/>

<xs:element name="dohvatiSveLetoveAviona" type="tns:dohvatiSveLetoveAviona"/>

<xs:element name="dohvatiSveLetoveAvionaResponse" type="tns:dohvatiSveLetoveAvionaResponse"/>

<xs:element name="dohvatiVlastiteAerodrome" type="tns:dohvatiVlastiteAerodrome"/>

<xs:element name="dohvatiVlastiteAerodromeResponse" type="tns:dohvatiVlastiteAerodromeResponse"/>

<xs:element name="izracunajUdaljenostAerodroma" type="tns:izracunajUdaljenostAerodroma"/>

<xs:element name="izracunajUdaljenostAerodromaResponse" type="tns:izracunajUdaljenostAerodromaResponse"/>

<xs:element name="vratiVlastiteAerodromeURasponu" type="tns:vratiVlastiteAerodromeURasponu"/>

<xs:element name="vratiVlastiteAerodromeURasponuResponse" type="tns:vratiVlastiteAerodromeURasponuResponse"/>

<xs:complexType name="dohvatiAerodromeIzDrzave">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="drzava" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiAerodromeIzDrzaveResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aerodrom">
<xs:sequence>
<xs:element name="drzava" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="lokacija" type="tns:lokacija" minOccurs="0"/>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lokacija">
<xs:sequence>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UnknownHostException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiPopisSvihLetovaAerodroma">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="ICAO" type="xs:string" minOccurs="0"/>
<xs:element name="od" type="xs:long"/>
<xs:element name="do" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiPopisSvihLetovaAerodromaResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avionLeti">
<xs:sequence>
<xs:element name="arrivalAirportCandidatesCount" type="xs:int"/>
<xs:element name="callsign" type="xs:string" minOccurs="0"/>
<xs:element name="departureAirportCandidatesCount" type="xs:int"/>
<xs:element name="estArrivalAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estArrivalAirportHorizDistance" type="xs:int"/>
<xs:element name="estArrivalAirportVertDistance" type="xs:int"/>
<xs:element name="estDepartureAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estDepartureAirportHorizDistance" type="xs:int"/>
<xs:element name="estDepartureAirportVertDistance" type="xs:int"/>
<xs:element name="firstSeen" type="xs:int"/>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="lastSeen" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiVlastiteAerodrome">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiVlastiteAerodromeResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vratiVlastiteAerodromeURasponu">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="donjaGranica" type="xs:int"/>
<xs:element name="gornjaGranica" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vratiVlastiteAerodromeURasponuResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="izracunajUdaljenostAerodroma">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao_1" type="xs:string" minOccurs="0"/>
<xs:element name="icao_2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="izracunajUdaljenostAerodromaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiAerodromePoImenu">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiAerodromePoImenuResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autentificirajKorisnika">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autentificirajKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiSveLetoveAviona">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="ICAO24" type="xs:string" minOccurs="0"/>
<xs:element name="od" type="xs:long"/>
<xs:element name="do" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiSveLetoveAvionaResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>